div.contents
	h4.contents__label Table of contents
	ul
		li.contents__chapter
			div.container--flex
				p.contents__number--dark 1……
				a.contents__toc--mobile--dark(href="chapters/yourbrand") #{toc_1}
		li.contents__chapter
			div.container--flex
				p.contents__number--dark 2……
				a.contents__toc--mobile--dark(href="chapters/yourbrand") #{toc_2}
		li.contents__chapter
			div.container--flex
				p.contents__number--dark 3……
				a.contents__toc--mobile--dark(href="chapters/yourbrand") #{toc_3}
		li.contents__chapter
			div.container--flex
				p.contents__number--dark 4……
				a.contents__toc--mobile--dark(href="chapters/yourbrand") #{toc_4}
		li.contents__chapter
			div.container--flex
				p.contents__number--dark 5……
				a.contents__toc--mobile--dark(href="chapters/yourbrand") #{toc_5}
