div.contents
	h4.contents__label table of contents
	ul
		li.contents__chapter
			ul.container--flex
				li.contents__chapter__number: p.contents__chapter__number__typo 1……

				li.contents__chapter__title: a.contents-link(href="chapters/userexperience") #{toc_1}

		li.contents__chapter
			ul.container--flex
				li.contents__chapter__number: p.contents__chapter__number__typo 2……

				li.contents__chapter__title: a.contents-link(href="chapters/yourbrand") #{toc_2}

		li.contents__chapter
			ul.container--flex
				li.contents__chapter__number: p.contents__chapter__number__typo 3……

				li.contents__chapter__title: a.contents-link(href="chapters/productdesign") #{toc_3}

		li.contents__chapter
			ul.container--flex
				li.contents__chapter__number: p.contents__chapter__number__typo 4……

				li.contents__chapter__title: a.contents-link(href="chapters/creativedirection") #{toc_4}

		li.contents__chapter
			ul.container--flex
				li.contents__chapter__number: p.contents__chapter__number__typo 5……

				li.contents__chapter__title: a.contents-link(href="chapters/casestudies") #{toc_5}

			